<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Description -->

    <!-- Meta Title -->
    <title>E-shop</title>

    <!-- Font Awesome v5 -->
	<script src="https://kit.fontawesome.com/cd1bf23aec.js" crossorigin="anonymous"></script>

    <!-- enternal CSS Link -->
    <link rel="stylesheet" href="../public/indexStyle.css">
</head>
<body>

<!--Top Navigation Menu-->
<header id="indexHeader">
    <nav>
        <h1> e-shop</h1>
        <div>
            <a href="/login"> Login</a>
            <a href="/signup"> Sign up</a>
        </div>
    </nav>
</body>
</html>